{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Trump Transport Portal</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/authentication/form-1.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/switches.css' %}">
</head>
<body class="form">
    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Log In to <a href="index.html"><span class="brand-name">Trump Transport Portal</span></a></h1>
                        <form class="text-left" method="post">
                            <div class="form my-5">
                                {{ form.as_p }}
                                {% csrf_token %}
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">Log In</button>
                                    </div>
                                </div>
                            </div>
                        </form>          
                        <p class="terms-conditions">© 2022 All Rights Reserved for <a href="index.html">Trump Transport</a>.

                    </div>                    
                </div>
            </div>
        </div>
        <div class="form-image" style="background-image:url({% static 'assets/img/login.jpg' %})">
            <div class="l-image">
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/authentication/form-1.js' %}"></script>

</body>
</html>