{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="content" class="main-content">
   <div class="layout-px-spacing">
      <div class="row layout-spacing">
         <div id="flActionButtons" class="col-lg-12">
            <div class="statbox widget box box-shadow">
               <div class="widget-header">
                  <div class="row">
                     <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h3>Add Gate Information</h3>
                     </div>
                  </div>
               </div>
               <div id="out_gate" class="widget-content widget-content-area">
                  <div class="show-data"></div>
                  <form class="form-vertical gate-check" action="" method="post">
                    {% csrf_token %}
                    {{ add_gate_check }}
                    <button class="mr-2 mt-3 btn float-left btn-success">Submit</button>
                  </form>
                  <a class="btn btn-primary mt-3 ml-2" href="{% url 'gate_check' %}">cancel</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->



{% endblock %}