{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% block content %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content locations">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-header">
                            <div class="row">
                               <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                  <h3 class="text-center mb-3">corrected chassis</h3>
                               </div>
                            </div>
                         </div>
                        <div class="widget-content widget-content-area br-6">
                            <form method = "post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ corr }}
                                <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        <!--  END CONTENT AREA  -->
-
        

{% endblock content %}